In [9]:
import pandas as pd
import matplotlib.pyplot as plt
from collections import Counter
from itertools import combinations

In [3]:
df = pd.read_csv('customer_transactions.csv')

In [4]:
df.head()

   TransactionID                      Sequence
0              1  Apple, Banana, Cereal, Donut
1              2          Apple, Cereal, Donut
2              3                 Banana, Donut
3              4                  Apple, Donut
4              5         Apple, Banana, Cereal

## 3 chuỗi sản phẩm thường được mua chung

#### Tách giao dịch

In [35]:
transactions = df['Sequence'].apply(lambda x: x.split(', ')).tolist()
transactions

[['Apple', 'Banana', 'Cereal', 'Donut'],
 ['Apple', 'Cereal', 'Donut'],
 ['Banana', 'Donut'],
 ['Apple', 'Donut'],
 ['Apple', 'Banana', 'Cereal'],
 ['Cereal', 'Donut'],
 ['Apple', 'Banana', 'Donut'],
 ['Apple', 'Banana'],
 ['Banana', 'Cereal'],
 ['Apple', 'Cereal', 'Donut']]

#### Max - Min sequence trong từng transactions

In [14]:
max_transactions = max(len(t) for t in transactions)
print(f'Maximum number of transactions in a sequence: {max_transactions}')
min_transactions = min(len(t) for t in transactions)
print(f'Minimum number of transactions in a sequence: {min_transactions}')

Maximum number of transactions in a sequence: 4
Minimum number of transactions in a sequence: 2

#### Đếm số lượng items trùng lặp trong các transactions

In [15]:
combo_counter = Counter()
for i in range(min_transactions, max_transactions + 1):
    for transaction in transactions:
        combo_counter.update(combinations(transaction, i))

In [26]:
combo_df = pd.DataFrame(combo_counter.items(), columns=['Combination', 'Count']).sort_values(by='Count', ascending=False).reset_index(drop=True)
combo_df

                       Combination  Count
0                   (Apple, Donut)      5
1                  (Apple, Banana)      4
2                  (Apple, Cereal)      4
3                  (Cereal, Donut)      4
4                 (Banana, Cereal)      3
5                  (Banana, Donut)      3
6           (Apple, Cereal, Donut)      3
7          (Apple, Banana, Cereal)      2
8           (Apple, Banana, Donut)      2
9          (Banana, Cereal, Donut)      1
10  (Apple, Banana, Cereal, Donut)      1

#### Find the 3 most

In [27]:
combo_df.head(3)

       Combination  Count
0   (Apple, Donut)      5
1  (Apple, Banana)      4
2  (Apple, Cereal)      4

## Liệt kê giá trị Support của từng sản phẩm.

In [54]:
indi_sequences = {}
for transaction in transactions:
    for item in transaction:
        if item not in indi_sequences:
            indi_sequences[item] = 1
        else:
            indi_sequences[item] += 1

In [55]:
for item, count in indi_sequences.items():
    print(f'{item}: {count}')

Apple: 7
Banana: 6
Cereal: 6
Donut: 7